name: Deploy Azure Function App (.NET Isolated)

on:
  push:
    branches:
      - master

permissions:
  contents: read

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore dependencies
        run: dotnet restore ./src

      - name: Build
        run: dotnet build ./src --configuration Release --no-restore

      - name: Publish
        run: dotnet publish ./src --configuration Release --output ./publish

      - name: Deploy to Azure Function App
        uses: Azure/functions-action@v1
        with:
          app-name: assignmentweatherimagefa2025
          package: ./publish
          publish-profile: ${{ secrets.AZURE_FUNCTIONAPP_PUBLISH_PROFILE }}